@import "./variables.scss";
.App {
  height: 100vh;
  color: $color-black;
  background-color: $color-gray-light;
  &--dark {
    color: $color-white;
    background-color: $color-blue-darker;
  }
}

.SearchSort__container {
  @media only screen and (min-width: 700px) {
    display: flex;
    margin: 29px $horizontal-padding-desktop 0 $horizontal-padding-desktop;
  }
}
