@import "./variables.scss";

.CountryPage {
  padding: 39px 30px;

  &__container {
    margin-top: 30px;
    @media only screen and (min-width: 700px) {
      display: flex;
      justify-content: center;
    }
  }

  &__flagBox {
    margin: 40px 0;
    width: 100%;
    @media only screen and (min-width: 700px) {
      width: 30%;
      margin-top: 0;
    }
    img {
      width: 100%;
    }
  }

  &__infoBox {
    @media only screen and (min-width: 700px) {
      margin-left: 5%;
    }
  }

  &__info {
    @media only screen and (min-width: 700px) {
      line-height: 28px;
    }
  }

  &__heading-country {
    font-size: 25px;
  }
  &__backButton {
    background-color: $color-white;
    font-size: 13px;
    color: inherit;
    border: none;
    box-shadow: $box-shadow;
    padding: 10px 30px;

    .fas {
      margin-right: 8px;
    }
  }
}
