@import "./variables.scss";

.CountryPage {
  padding: 39px 30px;

  @media only screen and (min-width: 700px) {
    padding: 81px $horizontal-padding-desktop;
  }

  &__container {
    margin-top: 30px;
    @media only screen and (min-width: 700px) {
      display: flex;
      justify-content: space-between;
      margin-top: 75px;
    }
  }

  &__flagBox {
    margin: 20px 0;
    width: 100%;
    @media only screen and (min-width: 700px) {
      flex: 0 1 44%;
      margin-top: 0;
    }
    img {
      width: 100%;
    }
  }

  &__infoBox {
    @media only screen and (min-width: 700px) {
      flex: 0 0 47%;
      align-self: center;
    }
  }

  &__info {
    height: 140px;
    line-height: 28px;

    @media only screen and (min-width: 1200px) {
      column-count: 2;
      column-gap: 0px;
    }
  }

  &__heading-country {
    font-size: 22px;
    margin-bottom: 24px;
    @media only screen and (min-width: 700px) {
      font-size: 33px;
    }
  }
  &__backButton {
    background-color: $color-white;
    font-size: 13px;
    color: inherit;
    border: none;
    box-shadow: $box-shadow;
    padding: 10px 30px;
    transition: all 0.2s;
    cursor: pointer;
    @media only screen and (min-width: 700px) {
      padding: 10px 34px;
      font-size: 18px;
    }

    &:hover,
    &:active {
      box-shadow: 0px 3px 10px -8px rgb(114, 114, 114);
      transform: scale(1.03);
    }
    .fas {
      margin-right: 8px;
    }
  }
}
