@import "./variables.scss";

.Loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 200px;

  &-icon {
    font-size: 60px;
    color: $color-gray;
    border-radius: 50%;
    box-shadow: $box-shadow;
    margin-bottom: 20px;
    animation: rotationRound 3s infinite linear;
    &--dark {
      color: $color-white;
    }
  }
}

@keyframes rotationRound {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
