@import "./variables.scss";

.Navbar {
  margin: 0;
  background-color: $color-white;
  box-shadow: $box-shadow;

  height: 80px;
  padding: 0 $horizontal-padding-mobile;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .main-heading {
    font-size: 14px;
  }

  .color-mode {
    font-size: 13px;
  }
}
