$color-blue-dark: #2b3945;
$color-blue-darker: #202c37;
$color-black: #111517;
$color-white: #ffffff;
$color-gray: #858585;
$color-gray-light: #fafafa;

$horizontal-padding-mobile: 16px;
$border-radius: 5px;
$box-shadow: 0px 3px 10px -8px rgba(191, 191, 191, 1);
