// VARIABLES
// - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
// - Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
// - Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
// - Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
// - Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
// - White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)

$color-blue-dark: #2b3945;
$color-blue-darker: #202c37;
$color-black: #111517;
$color-white: #ffffff;
$color-gray: #858585;
$color-gray-light: #fafafa;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  font-family: "Nunito Sans", sans-serif;
  color: $color-black;
}

ul {
  list-style: none;
}
